flows.json
[{"id":"28b92da1.e32442","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"de8316b5.2befd8","type":"ui_form","z":"28b92da1.e32442","name":"","label":"","group":"4508601e.c3f36","order":0,"width":0,"height":0,"options":[{"label":"Enter Name:","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email:","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password:","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":120,"wires":[["ba053af9.c87af8","52d8e14f.a4f62"]]},{"id":"ba053af9.c87af8","type":"debug","z":"28b92da1.e32442","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":350,"y":60,"wires":[]},{"id":"52d8e14f.a4f62","type":"function","z":"28b92da1.e32442","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":120,"wires":[["7c7af723.20bf78"]]},{"id":"7c7af723.20bf78","type":"cloudant out","z":"28b92da1.e32442","name":"cloudant","cloudant":"","database":"regform","service":"node-red-otqhk-2020--cloudant-1597373156594-1642","payonly":true,"operation":"insert","x":500,"y":120,"wires":[]},{"id":"38b2395b.3c5dd6","type":"ui_form","z":"28b92da1.e32442","name":"","label":"","group":"4d00473e.0600b8","order":0,"width":0,"height":0,"options":[{"label":"Enter Email:","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password:","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":280,"wires":[["4a796da6.b5bb24"]]},{"id":"4a796da6.b5bb24","type":"function","z":"28b92da1.e32442","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":280,"wires":[["99db772a.ca6e58"]]},{"id":"99db772a.ca6e58","type":"function","z":"28b92da1.e32442","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":280,"wires":[["8577245a.ce6308"]]},{"id":"8577245a.ce6308","type":"cloudant in","z":"28b92da1.e32442","name":"","cloudant":"","database":"regform","service":"node-red-otqhk-2020--cloudant-1597373156594-1642","search":"_idx_","design":"user","index":"user","x":540,"y":280,"wires":[["71fb0fa3.600db"]]},{"id":"71fb0fa3.600db","type":"function","z":"28b92da1.e32442","name":"","func":"if(msg.payload[0].password===global.get('Password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":280,"wires":[["9c095b20.e62be8"]]},{"id":"9c095b20.e62be8","type":"ui_text","z":"28b92da1.e32442","group":"4d00473e.0600b8","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":280,"wires":[]},{"id":"ae7a68e2.65feb8","type":"ui_form","z":"28b92da1.e32442","name":"","label":"","group":"2b7eb5b7.38c80a","order":0,"width":0,"height":0,"options":[{"label":"User input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":440,"wires":[["3c2489d3.884956"]]},{"id":"3c2489d3.884956","type":"function","z":"28b92da1.e32442","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":440,"wires":[["95ecd3b7.65f5a"]]},{"id":"95ecd3b7.65f5a","type":"watson-conversation-v1","z":"28b92da1.e32442","name":"","workspaceid":"740d76ea-84fd-420b-960c-36a4dd1812dc","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e89fd527-9f8f-45ff-9c17-040eb02e207c","timeout":"","optout-learning":false,"x":390,"y":440,"wires":[["a32094a7.954318","606840a6.c748b"]]},{"id":"a32094a7.954318","type":"debug","z":"28b92da1.e32442","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":380,"wires":[]},{"id":"606840a6.c748b","type":"function","z":"28b92da1.e32442","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":440,"wires":[["9e6ba0ea.64a8f","cf3183d9.1dd4"]]},{"id":"9e6ba0ea.64a8f","type":"ui_text","z":"28b92da1.e32442","group":"2b7eb5b7.38c80a","order":1,"width":"6","height":"5","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":440,"wires":[]},{"id":"cf3183d9.1dd4","type":"ui_audio","z":"28b92da1.e32442","name":"","group":"4508601e.c3f36","voice":"","always":"","x":740,"y":480,"wires":[]},{"id":"4508601e.c3f36","type":"ui_group","z":"","name":"Reg form","tab":"c0ea194c.a80738","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d00473e.0600b8","type":"ui_group","z":"","name":"Login Form","tab":"26a70e85.aeeee2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b7eb5b7.38c80a","type":"ui_group","z":"","name":"Bot","tab":"c0ea194c.a80738","order":2,"disp":true,"width":"6","collapse":false},{"id":"c0ea194c.a80738","type":"ui_tab","z":"","name":"Customer help","icon":"dashboard","disabled":false,"hidden":false},{"id":"26a70e85.aeeee2","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false}]